@import "./styles/_normalize.css";
@import './styles/_fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #00B207;
    --soft-primary: #84D187;
    --hard-primary: #2C742F;
    --warning: #FF8A00;
    --danger: #EA4B48;
    --white: #FFFFFF;
    --blue: #2388FF;
    --yellow: #FCC900;
    --gray-9: #1A1A1A;
    --gray-8: #333333;
    --gray-7: #4D4D4D;
    --gray-6: #666666;
    --gray-5: #808080;
    --gray-4: #999999;
    --gray-3: #B3B3B3;
    --gray-2: #CCCCCC;
    --gray-1: #E6E6E6;
    --gray-0_5: #F2F2F2;
    --gray-secondary: #F7F7F7;
    --green-gray-9: #002603;
    --green-gray-8: #173B1A;
    --green-gray-7: #2B572E;
    --green-gray-6: #406B42;
    --green-gray-5: #618062;
    --green-gray-4: #7A997C;
    --green-gray-3: #96B397;
    --green-gray-2: #B4CCB4;
    --green-gray-1: #DAE6DA;
    --green-gray-0_5: #EDF2EE;
    --green-ghost: #EEf7EE;
    --green-ghost-hover: #D5E3d5;
    --base-width: 1320px;
    --big-banner-gradient: linear-gradient(108.43deg, rgba(0, 0, 0, 0.6) 10.399%, rgba(0, 0, 0, 0) 59.431%);
}

body {
    color: var(--gray-9);
    background-color: var(--white);
    font-family: Poppins, Inter, sans-serif;
}

.contacts-text-style::after {
    content: '';
    display: block;
    margin-top: 6px;
    width: 100%;
    height: 2px;
    background-color: var(--primary);
}
